h1{font-size: 100px;line-height: 80px;margin-bottom:20px;}
#list {width: 400px;
    list-style: none;
    padding: 40px;
    background-color:#e3c2c1;
font-size: 30px;
line-height: 60px;
display: inline-block;
margin-left: auto;
margin-right: auto;
border:solid 4px;
border-color: #48614e;
}

#list li{display: block;
text-align: right;}
#list input{
   float: left;
margin-top: 20px;
height: 20px;
width: 25px;
}
button{
    width:100px;
    height: 30px;
    border: none;
    background-color:#e3c2c1 ;
    color:#ad7471;
    margin: 20px;
    font-family: "Indie Flower";
    font-size: 15px;
}
button:hover{
    width:130px;
    height:40px;
    background-color: white;
}